<style>
	.container {
		width: 800px;
		font-family: Arial, Helvetica, sans-serif;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	span {
		margin: 10px;
	}
</style>

<div class="container">
	<img src="https://i.ibb.co/sFM7pbN/luxcar-logo.png" alt="Luxcar" />

	<span>Hi, {{name}}</span>

	<br />

	<span>You requested to change your password.</span>

	<span>
		To do this, follow the link below:
	</span>

	<span>
		<a href={{link}}>{{link}}</a>
	</span>

	<span>If you did not request it, please ignore this email.</span>

	<span>Thank you!</span>

	<h3>Team Luxcar | <strong>The best store to rent luxury cars</strong></h3>
</div>
